{% extends 'main/layout.html' %}

{% block title %}<h1>Hello</h1>{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Грядущий релиз версии 1.11 языка программирования
            Go принесет экспериментальную поддержку модулей — новую систему управления зависимостями для Go.
            (прим.перев.: релиз состоялся)</p>
    </div>
    <button class="btn btn-warning">На страницу про нас</button>

    {% include 'main/test.html' %}

{% endblock %}